<!--Home page-->
<!DOCTYPE html>
<html lang="en">

<head>
    <% include partials/head %>
</head>

<body>
    <% include partials/menu %>
    <!--Left Side of Page -->
    <div class="main">
        <div class="tone-1">
            <div class="product-info">
                <h1>AIR JORDAN 4 THUNDER</h1>
                <p>JUST DROPPED</p>
                <h2>$230</h2>

                <div class="info-btns">
                    <a href="shop" class="btn discover-btn">DISCOVER</a>
                    <a href="#" class="btn cart-btn">ADD TO CART</a>
                </div>
            </div>
        </div>

        <!--Right Side of Page-->
        <div class="tone-2">
            <img src="images/yellow-jordan4.png" alt="jordan">
        </div>
    </div>
</body>
<% include partials/script %>

</html>