/*Style for index.html*/
@import url('https://fonts.googleapis.com/css?family=Montserrat:400,800');


*{
  margin: 0;
  padding: 0;
 box-sizing: border-box;
}
html{
  font-family: Helevitca;
  font-size: 10px;
  color: #333;
}
header{
  width: 100%;
  height: 100vh;
  position: relative;
}
a{
  text-decoration: none;
  color: inherit;
}
.menu-toggle{
  width: 5rem;
  height: 5rem;
  position: absolute;
  top: 1rem;
  left: 1rem;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  outline: none;
  display: none;
  z-index: 999;
}
.menu-toggle i,
.fa-times{
  font-size: 3.5rem;
}
.fa-times{
 display: none !important;
 cursor: pointer;
}
nav{
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid rgba(0,0,0,.075);
  z-index: 1000;
}
.logo{
  width: 5rem;
  box-sizing: content-box;
  padding-left: 3rem;
}
.logo img {
  display: block;
  width: 100%;
}
nav ul{
  height: 5rem;
  list-style: none;
  display: flex;
  font-size: 16px;
}

nav ul li{
  font-family: sans-serif;
  padding: 0 3rem;
  line-height: 6rem;
  font-weight: 600;
  transition: background-color .5s; 
}
nav ul li a:hover {
  opacity: .5;
}
#profile-icon {
  font-size: 20px;
}
#shopping-bag{
  font-size: 20px;

}
.nav-right ul li{
  border-right: 1px solid rgba(0,0,0,.075);
}
.nav-right ul li:nth-child(1) {
  border-left: 1px solid rgba(0,0,0,.075);
}
.nav-right ul li:last-child{
  border-right: none;
}
.nav-right i {
  margin-right: .8rem;
}
.nav-right i:first-child{
  margin-right: 0;
}
.main{
  position: absolute;
  display: flex;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}
.tone-1{
  background-color: #f7f7f6;
  height: 100vh;
 flex: 1;
}
.tone-2{
  background-color: #f9e2ba;
  height: 100vh;
 flex: 1;
 position: relative;
}
.tone-2 img{
  width: 100%;
  position: absolute;
  top: 50%;
  left: -15rem;
  transform: translateY(-50%);
  
}
.product-info {
  display: flex;
  width: 90%;
  height: 100%;
  margin: 0 auto;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.product-info h1{
  font-size: 5rem;
  font-family: sans-serif;
  letter-spacing: 3px;
  margin-right: -3px;
  font-weight: 900;
  margin-bottom: 1rem;
  text-align: center;
}
.product-info p{
  font-size: 1.8rem;
  margin-bottom: 4rem;
}
.product-info h2{
  font-size: 2.5rem;
  margin-bottom: 5rem;
}
.btn{
  display: flex;
  padding: 2rem;
  color: #f7f7f6;
  font-size: 1.5rem;
  transition: all .5s;
}
.info-btns{
  display: flex;
}
.discover-btn{
  background-color: #a4a4a4;
}
.cart-btn{
  background-color: #141110;
}
.discover-btn:hover,
.cart-btn:hover{
  box-shadow: 3px 1rem 2rem rgba(0,0,0,.9);
  transform: translateY(-1rem);
}
/* End Style for index.html */



/* Start Style - shop.html */
.container{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 2rem;
}
.container .card {
  position: relative;
  width: 300px;
  height: 400px;
  margin-left: 1rem;
  margin-right: 1rem;
  background: whitesmoke;
  margin-top: 1rem;
  margin-bottom: 2rem;
  border-radius: 10px;
  overflow: hidden;
}
.container .card:before{
  content: '';
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  transition: 0.5s ease-in-out;
}

.container .card:after{
  position: absolute;
  left: -20%;
  top: 30%;
}
.container .card .imgBx{
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  width: 100%;
  height: 200px;
  transition: 0.5s;
}
.container .card:hover .imgBx{
  top: 0%;
  transform: translateY(0);
}
.container .card .contentBox{
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 90px;
  text-align: center;
  transition: 1s;
  z-index: 10;
}
.container .card:hover .contentBox{
  height: 180px;
}
.container .card .contentBox h2{
  font-size: 2rem;
  position: relative;
}
.container .card .contentBox h3{
  font-size: 1.6rem;
  padding: .5rem .5rem;
}
.container .card .contentBox .size{
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 8px 20px;
  transition: 0.5s;
  opacity: 0;
  visibility: hidden;
}
.container .card:hover .contentBox .size {
  opacity: 1;
  visibility: visible;
  transition-delay: 0.5s;
}
.container .card .contentBox .size h3 {
  font-weight: 300;
  font-size: 15px;
  text-transform: uppercase;
  margin-right: 10px;
}
.container .card .contentBox .size span {
  width: 26px;
  height: 26px;
  text-align: center;
  line-height: 26px;
  font-size: 14px;
  display: inline-block;
  color: white;
  background: rgba(0,0,0,.5);
  margin: 0 5px;
  transition: 0.5s;
  border-radius: 4px;
  cursor: pointer;
}
.container .card .contentBox .size span:hover{
  background: rgba(0,0,0,.9);
}
.container .card .contentBox a {
  display: inline-block;
  padding: 10px 20px;
  border-radius: 4px;
  margin-top: 10px;
  text-decoration: none;
  font-weight: 600;
  color: white;
  background: rgba(0,0,0,.9);
  opacity: 0;
  transform: translateY(50px);
  transition: 0.5s;
}
.container .card:hover .contentBox a {
  opacity: 1;
  transform: translateY(0px);
  transition-delay: 0.75s;
}
.container img{
  height: 200px;
  
}

/*Style for Cart */

.cart span {
  background: red;
  right: 17px;
  bottom: 20px;
  position: absolute;
  font-size: 1.2rem;
border-radius: 0.8em;
-moz-border-radius: 0.8em;
-webkit-border-radius: 0.8em;
color: #ffffff;
display: inline-block;
line-height: 1.5em;
margin-right: 0px;
text-align: center;
width: 1.5em; 
}

.product-container{
  max-width: 650px;
  justify-content: space-around;
  margin: 0 auto;
  margin-top: 50px;
}

@media screen and (max-width: 1200px){
  .container {
      position: absolute;
      top: 0;
  }
  .container .card{
      margin-top: 4rem;

  }
}
/* End style for cart */


/* Respnsive Media Queries */
@media screen and (max-width: 1200px){
  .tone-2 img{
      left: -8rem;
  }
  .product-info h1{
      font-size: 3rem;
      margin-bottom: 2rem;
      letter-spacing: none;
  }
  .product-info p{
      font-size: 1.5rem;
      margin-bottom: 2rem;
  }
  .product-info h2{
      font-size: 2rem;
      margin-bottom: 2rem;
  }
  .btn{
      padding: 1rem;
      font-size: 1rem;
  }
}
@media screen and (max-width: 768px){
  .product-info h1{
    font-size: 2rem;
  }
}

@media screen and (max-width: 900px){
  .logo{
      padding-left: 1.5rem;
  }
  nav ul{
      height: 4rem;
      font-size: 1.2rem;
  }
  nav ul li{
      padding: 0 1.5rem;
      line-height: 4rem;
  }
  
  .tone-2 img{
      left: -5rem;
  }  
}

@media screen and (max-width: 600px){
    .tone-2 img{
      left: -2.5rem;
  }
  .product-info p{
      font-size: 1.2rem;
  }
  .btn{
      padding: 1rem;
  }
  nav{
      display: flex;
      border-bottom: none;
      flex-direction: column;
      width: 20rem;
      height: 100vh;
      background-color: #f7f7f6;
      justify-content: space-evenly;
      transform: translateX(-20rem);
      transition: transform .5s;
  }
  nav ul{
      height: initial;
      display: block;
      font-size: 2rem;
      text-align: center;
  }
  nav ul li{
      padding: 0;
      line-height: initial;
      margin-bottom: 2rem;
  }
  .logo{
      padding: 0;
  }
  .nav-right ul li,
  .nav-right ul li:nth-child(1){
      border: none;
  }
  .menu-toggle{
      display: flex;
  }
  .fa-times{
      display: block !important;
      position: absolute;
      top: 5px;
      left: 5px; 
  }
  .active{
      transform: translateX(0);
  }
  .overlay{
      position: absolute;
      width: 0;
      height: 100vh;
      background-color: rgba(0,0,0,.9);
      transition: opacity .5s;
      z-index: 1000;
  }
  .overlay.menu-open{
      width: 100%;
  }
}
/* End Responsive Media Queries */

/* Sign Up form */
.hero{
  font-family: sans-serif;
}
.form-box{
  width: 380px;
  height: 480px;
  position: relative;
  margin: 6% auto;
  -webkit-box-shadow: 0 1px 5px rgba(0,0,0,0.15);
  -moz-box-shadow: 0 1px 5px rgba(0,0,0,0.15);
  box-shadow: 0 1px 5px rgba(0,0,0,0.15);
  -webkit-border-radius: 5px;
  border-radius: 5px;
  padding: 5px;
  overflow: hidden;
}
.form-title{
  text-align: center;
  margin-top: 5rem;
  opacity: .7;
  font-size: 18px;
}
#signIn{
  position: absolute;
  bottom: -50px;
  left: 70px;
  color: red;
  font-size: 14px;
  text-decoration: underline;
}
#signUp{
  position: absolute;
  bottom: -50px;
  left: 80px;
  color: red;
  font-size: 14px;
  text-decoration: underline;
}
.input-group{
  top: 160px;
  position: absolute;
  width: 280px;
  transition: .5s;
}
.input-field{
  width: 100%;
  padding: 10px 0;
  margin: 5px 0;
  border-left: 0;
  border-right: 0;
  border-top: 0;
  border-bottom: 1px solid #999;
  outline: none;
  background: transparent;
}
.submit-btn{
  width: 85%;
  padding: 10px 30px;
  cursor: pointer;
  display: block;
  margin: auto;
  background: red;
  border: 1px solid red;
  outline: none;
  border-radius: 30px;
}
.submit-btn:hover{
  background: white;
  color: black;
  
}
.check-box{
  margin: 30px 10px 30px 0;
}
.form-box span {
  color: #777;
  font-size: 12px;
  bottom: 60px;
  position: absolute;
}
#login{
  left: 50px;
}
#register{
  left: 50px;
}
@media screen and (max-width: 600px){
  .hero{
    position: absolute;
    top: 0;
  }
  .hero .form-box{
    margin: 8rem 2rem;
  }
}

/* Error message */
.alert-message{
  text-align: center;
  margin-top: 1rem;
  padding: 1rem;
  color: red;
  font-size: 14px;
  font-weight: bold;
}

/* End Sign Up Form */



/* Drop Down Menu */
 .dropbtn {
  display: inline-block;
}
li .dropdown {
  display: inline-block;
}
.dropdown-content {
  display: none;
  position: absolute;
  right: 50px;
  top: 50px;
  background-color: #f9f9f9;
  width: 100px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  border-radius: 8px;
  z-index: 1;
}

.dropdown-content a {
  padding: 3px 8px;
  text-decoration: none;
  display: block;
  text-align: left;
}

.dropdown-content a:hover{
  opacity: .4;
}

.dropdown:hover .dropdown-content {
  display: block;
}
